/* Write your code here. */
.emoji-card {
  width: 150px;
  height: 150px;
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 15px;
}

.emoji-button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 576px) {
  .emoji-card {
    width: 120px;
    height: 120px;
    background-color: #ffffff33;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
  }
  .emoji-image {
    width: 80px;
    height: 80px;
  }
}
